# User Defined Functions

In [8]:
def add_numbers(x,y):
   sum = x + y
   return sum

num1 = 5
num2 = 6

print("The sum is", add_numbers(num1, num2))

The sum is 11

In [2]:
def avg_number(x, y):
    print("Average of ",x," and ",y, " is ",(x+y)/2)
avg_number(12, 4)

Average of  12  and  4  is  8.0

In [9]:
def nsquare(x, y = 2):
    return (x*x + 2*x*y + y*y)
print("The square of the sum of 2 and 2 is : ", nsquare(2))
print("The square of the sum of 2 and 3 is : ", nsquare(2,4))

The square of the sum of 2 and 2 is :  16
The square of the sum of 2 and 3 is :  36

In [13]:
def my_function(fname):
  print(fname + " friends")

my_function("vaibhavi")
my_function("apurva")
my_function("himani")

vaibhavi friends
apurva friends
himani friends

In [18]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
    print("The older child is " + kids[1])

my_function("raju", "ramesh", "suresh")

The youngest child is suresh
The older child is ramesh

In [5]:
def marks(english, math = 85, science = 80):
    print('Marks in : English is - ', english,', Math - ',math, ', Science - ',science)
marks(71, 77)
marks(65, science = 74)
marks(science = 70, math = 90, english = 75)

Marks in : English is -  71 , Math -  77 , Science -  80
Marks in : English is -  65 , Math -  85 , Science -  74
Marks in : English is -  75 , Math -  90 , Science -  70

In [6]:
def sum(*numbers):
     s = 0
     for n in numbers:
           s += n
     return s

print(sum(1,2,3,4))

10

In [21]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("america")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# Anonymous Function

## 1.Lambda Function

In [30]:
x = lambda a : a + 10
print(x(5))

15

In [24]:
def cube(y):
    return y*y*y
 
lambda_cube = lambda y: y*y*y

print("cube of 5:", lambda_cube(5))

cube of 5: 125

In [26]:

even_list = [lambda arg=x: arg * 10 for x in range(1, 6)]

for item in even_list:
    print(item())

10
20
30
40
50

In [29]:
Max = lambda a, b : a if(a > b) else b
 
print(Max(6, 10))

10

In [33]:
def myfunc(n):
  return lambda a : a * n

doubler = myfunc(2)
tripler = myfunc(3)

print(doubler(11))
print(tripler(11))

22
33

In [34]:
l1 = [4, 2, 13, 21, 5]
  
l2 = []

for i in l1:

    temp=lambda i:i**2

    l2.append(temp(i))

print(l2)

[16, 4, 169, 441, 25]

## 2. Map Function

In [54]:
def multiply2(x):
  return x * 2
list(map(multiply2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [55]:
list(map(lambda x : x*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [56]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
  
list(map(lambda x, y: x + y, list_a, list_b))

[11, 22, 33]

## 3. Filter Function

In [57]:
a = [1, 2, 3, 4, 5, 6]
list(filter(lambda x : x % 2 == 0, a))

[2, 4, 6]

In [59]:
strs = ['apple', 'and', 'a', 'mango']
list(filter(lambda s: len(s) > 3, strs))

['apple', 'mango']

In [61]:
dictionary = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

list(filter(lambda x : x['name'] == 'python', dictionary))

[{'name': 'python', 'points': 10}]

In [69]:
list_a = [1, 2, 3, 4, 5]

filter_obj = list(filter(lambda x: x % 2 == 0, list_a))
print(filter_obj)

[2, 4]